<!-- styles block -->

<!-- content  -->

{%extends "base.html" %} {% block display %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/display.css')}}"
  type="text/css"
/>
<div class="one">
  <h1>
    Top news <span>around </span><br />
    the world
  </h1>
  <p>
    If people in the media cannot decide whether they are in the business of
    reporting news or manufacturing propaganda, <br />
    it is all the more important that the public understand that difference, and
    <br />
    choose their news sources accordingly. Read more at
    https://www.brainyquote.com/topics/news-quotes
  </p>
</div>
<div class="two">
  <h1>Categories</h1>
</div>

<div class="footer">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
