<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for title, desc,img,p_date,url in contents %}
    <div class="wrapper">
        <div class="item"><a href="{{url}}"><img src="{{img}}" alt=""></a></div>
        <div class="c-box">
            <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
            <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
            <div class="content"><a href="{{url}}"></a><p> publishdate:{{p_date}}</p></div>
        </div>

    </div>

    {%endfor %}

    {%for title, desc,img,p_date,url in friend %}
    <div class="wrapper">
        <div class="item"><a href="{{url}}"><img src="{{img}}" alt=""></a></div>
        <div class="c-box">
            <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
            <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
            <div class="content"><a href="{{url}}"></a><p> publishdate:{{p_date}}</p></div>
        </div>

    </div>

    {%endfor %}
    
</body>
</html>